*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
  font-size: 45px;
  font-weight: 900;


}
.orange{
 color:#FD6E0A
}

header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png") #FFF8F3;;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.btn {
  background-color: #FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-size:20px;
  font-weight: bold;
  color: white; 
  cursor: pointer;


}
.section-heading{
  max-width: 827px;
  text-align: center;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;

}
.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.about-info{
  display: flex;
  justify-content: space-around;
}
.about-info p{
 font-size: 18px;
  color: #757575;
  
  line-height: 30px;
} 
.about-info .info-card h4{
  font-size: 20px;

}
nav{
  width: 74%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
#banner{
  
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #181818;

}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content img{
  max-width: 585px;
  
  vertical-align:middles;
}
#about{
  padding-top: 130px;
}
#about .about-container{
  width: 74%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;
}
